html {
	flex: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	width: 0.9rem;
}

html::-webkit-scrollbar-track {
	background: none;
}

html::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	height: 10px;
	background-clip: padding-box;
	border: 3.5px solid rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.35);
}

@tailwind components;

@layer components {
	.option {
		@apply cursor-pointer hover:bg-gray-100 transition duration-200 ease-out px-2.5 p-1 rounded-lg;
	}
}

/* print stuff */

@page {
	margin: 1in;
}

@media print {
	@page {
		margin-top: 0;
		margin-bottom: 0;
	}

	body {
		background: none;
		padding-top: 72px;
		padding-bottom: 72px;
	}

	.rdw-editor-main {
		width: 6.5in !important;
		height: 9in !important;
		padding: 0 !important;
		margin: 0 !important;
		box-shadow: none !important;
		align-self: flex-start !important;
		border: none !important;
	}

	.rdw-editor-toolbar {
		display: none !important;
	}

	header {
		display: none !important;
	}
}
